
  <div class="upperNavBarLeft" id="textSlider">
    <div class="scroller">
      <div class="inner">
        <ul>
          <li><a href="https://www.barnesandnoble.com/b/kids-books-special-offer/_/N-2ffy">Goodnight Goon only $7.99 with purchase.</a></li>
          <li><a href="https://giftguide.barnesandnoble.com/holiday-gift-ideas?gift-ideas-for-for_him_or_her">Shop the Holiday Gift Guide</a></li>
          <li><a href="https://specialists.barnesandnoble.com/books-recommended-by?featured">Book Recs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="upperNavBarRight">
    <a href="https://www.barnesandnoble.com/membership/">Membership &nbsp;</a>&nbsp;<a href="https://www.barnesandnoble.com/b/gift-cards/_/N-8rg">Gift Cards &nbsp;</a><a href="https://stores.barnesandnoble.com/">Stores & Events &nbsp;</a><a href="https://help.barnesandnoble.com/">Help &nbsp;</a>
  </div>
  <app-logobar></app-logobar>
  <app-navbar></app-navbar>
  <app-educatorbar></app-educatorbar>
  <app-carousel></app-carousel>
