<div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Books
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://www.barnesandnoble.com/b/barnes-noble-stores-bestsellers/_/N-1p2x">Best Sellers</a>
        <a href="https://www.barnesandnoble.com/b/contributor/_/N-2k20">Browse</a>
        <a href="https://www.barnesandnoble.com/b/books/science-fiction-fantasy/_/N-29Z8q8Z180l">Subjects</a>
        <a href="http://www.barnesandnoble.com/readouts/?utm_source=BN%20Readouts&utm_medium=Books%20Flyout&utm_term=Launch&utm_content=Blog%20&utm_campaign=BN%20Readouts%20Blog">Discover</a>
        <a href="https://specialists.barnesandnoble.com/books-recommended-by">Featured</a>
        <a href="https://www.barnesandnoble.com/review/">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">NOOK Books
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">NOOK
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Textbooks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Newsstand
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Teens
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Kids
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Toys&Games
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Hobbies&Collectibles
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Home&Gifts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Movies&TV
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Music
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Best Sellers</a>
        <a href="#">Browse</a>
        <a href="#">Subjects</a>
        <a href="#">Discover</a>
        <a href="#">Featured</a>
        <a href="#">Blogs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" id="saleLink">Marketplace
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/marketplace">Marketplace</a>

      </div>
    </div>
  </div>
