.navbar {
 font-size: 12px;
}
.upperNavBarLeft {
background: #c9dbe2;
float: none;
}

#logoMain{
height: 80px;
}
.upperNavBarRight {
background: #c9dbe2;
float: right;
}
#mainSearch {
width: 100%;
}
#myAccount {
float: right;
}

.educatorBar {
  background: #366250;
  padding-top: 2%;

  width: auto;
}
.educatorBar img {
  max-height: 42px;

}

#educatorAnnouncement {
float: none;
color: white;
padding-top: 20%;
padding-left: 15%;
font-family: Lato,sans-serif;
font-size: 19px;
}

#educatorJoinToday {
float: right;
color: white;
padding-right: 2%;
font-family: Lato,sans-serif;
text-decoration: underline;
font-size: 18px;
}



a {
color: #21282d;
}
