.navbar {
 font-size: 12px;
}
.upperNavBarLeft {
background: #c9dbe2;
float: none;

}

#logoMain{
height: 80px;
}
.upperNavBarRight {
background: #c9dbe2;
float: right;
}
#mainSearch {
width: 100%;
}
#myAccount {
float: right;
}



a {
color: #21282d;
}
